# compilation and distribution
__pycache__
_ext
*.pyc
*.pyo
*.pyd
*.egg-info/

# editor settings
.idea
.vscode

# input and output 
weights
build/
input/
output/
Testprojekt/

# OS files
.DS_Store

gradio_cached_examples

